<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome!
  </h1>
  <app-user-list></app-user-list>
</div>
<router-outlet></router-outlet>
